body {
    background-color: #000000;
    overflow: hidden;
}

.container {
    padding-top: 15%;
    padding-bottom: 15%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    backdrop-filter: blur(25px);
}

.time {
    font-family: monospace;
    font-weight: bolder;
    font-size: 12rem;
    /* color: #030608; */
      color: aliceblue;
    top: 10%;
}